// ======================================
//  Footer
// ======================================

footer {
  text-align: center;
  background-color: map-get($theme, 1);
  color: $white;
  & p {
    margin: 0;
    padding: 1em 0;
  }
  // position: absolute;
  // bottom: 0;
  // width: 100%;
}
