// ======================================
//  Icons
// ======================================

#contact .icon.github path {
  fill: #222;
}

#contact .icon.linkedin path {
  fill: #0077B5;
}

#contact .icon.twitter path {
  fill: #1da1f2;
}

#skills .icon {
  width: 100%;
  padding: 15px;
  border: 2px solid map-get($theme, 2);
  border-radius: 12px;
  transition: border .2s;
  & path {
    fill: map-get($theme, 4);
  }
  &:hover {
    border: 2px solid rgba(map-get($theme, 4), .5);
  }
}

.arrow path,
.close path,
.reply path {
  fill: map-get($theme, 1);
}
