// ======================================
//  Skills
// ======================================

#skills {
  padding: 2em 0;
  text-align: center;
  background-color: map-get($theme, 2);
}

#skills h2 {
  color: map-get($theme, 4);
}

#skills .tech-icons {
  @include flexy($disp: flex, $just: space-evenly);
}
